
h1{
    font-size: 3em;
}
h2{
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
}

.cards-apresentation{
    width: 100%;
    height: auto;
    padding:20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#img-apresentation{
    width:25vw ;
    height: auto;
    filter: saturate(25%);
    
}

.scroll{
    width: 3rem;
}

