
#arrow-down-toggler{
    color:cyan;
    font-size: 2rem;
}

#contact{
    border: 1px inset #FFF;
    border-radius: 15px;
    padding:5px;
}

#contact:hover{
    background-image: linear-gradient(to bottom, rgb(0, 68, 255), steelblue, rgb(242, 0, 255));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    border: 1px inset steelblue;
    padding: 10px;
    
    -webkit-text-fill-color: transparent;
  }

  #cv{
    padding:15px;
    color:#fff;
    background-image: linear-gradient(to bottom, rgb(0, 68, 255), steelblue, rgb(242, 0, 255));
    cursor: pointer;
  }
  
