#contact{
    background-color: transparent;
    padding: 10px;
    text-decoration: none;
    color:rgb(149, 255, 0);
}
.btn-style{
    
    border-radius: 15px;
    background-color:transparent;
    
}
.btn-style:hover{
    transition: .8s;
    color:#fff;
    padding: 10px;
    border-radius:10px ;
    background: linear-gradient(to right, #009fff, #ec2f4b);
    margin:5px;
}

/* .theme{
    
    display: flex;
    justify-content: end;

} */

/* refatorar css e html depois e excluir classes que nao estao sendo usadas tanto aqui quando no html  */