.all-btn{
    padding: 10px;
    border: 1px inset #8a8a8a;
    border-radius: 10px;
    margin-right: 30;
  }
  .all-btn:hover{
    transition: 1s;
    border: 1px inset #009FFF;
  }

  #submit{
    width: 20vw;
    height: auto;
    margin-top: 20px;
    letter-spacing: .1rem;
    font-size:1.1rem ;
    border-radius: 10px;
    cursor: pointer;
    font: x-large;
    padding: 15px;
    margin-left: 50%;
    color:aliceblue;
    background-color: #8b8b8b;
    border: 1px outset #424242;
    
  }
  #submit:hover{
    transition: 1.3s;
    background-image: linear-gradient(to left, rgb(0, 255, 183), rgb(67, 0, 252));
    border: 2px inset #ffffff;
  }

