
.top-header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vanta-canvas{
    background-color: black;
    margin-top: 10px;
    z-index: -1;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: flex-end;
  }
  

#icon-togler{
    color:aliceblue;
  }
  
  #logo{
    width: 3rem;
    height:auto;
  }

  #letters{
    
    width: 50%;
    text-align:start ;
  }
  
  .nav-head{
    color:#fff;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    font-size: 1.1rem;
  }


  .nav-head:hover{
    color:rgb(0, 255, 247);
  }

  


  .glass {
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      transform-style: preserve-3d;
      transform: translateZ(20px);
  }



h1,h2{
    color:rgb(255, 255, 255);
    
    filter:drop-shadow(4px 4px 4px rgb(117, 117, 117));
}

h1{
    font-size: 5rem;
    text-align: center;
    font-family: 'Monoton',Verdana, Geneva, Tahoma, sans-serif, cursive;
}

h2{
    font-size: 3.5rem;
    text-align: center;
}

#img-header{
    display: flex;
    justify-content: center;
    filter:drop-shadow(6px 6px 6px rgb(255, 255, 255));
    margin:100px;
    width:20vw;
    height: 40vh;
}

#img-black-White{
    margin-top:-70px;
    width: 500px;
    height: 500px;
    filter:drop-shadow(3px 3px 3px rgb(255, 255, 255));
}

/* 
  .nav-fixed-top{
    height: 100px;
    bottom: 50px;
    top:5px;
    margin:0 auto;
    position: fixed; 
    background-color:#212529;
    border-radius: 2rem;
    z-index: 10;
    box-shadow: 2px 2px 2px #fff;
 
    VERIFICAR COMO USAR ISSO DA FORMA CORRETA
} */

