
#icon-togler{
    color:aliceblue;
  }
  
  #logo{
    width: 3rem;
    height:auto;
  }
  
  .nav-head{
    color:#fff;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  .nav-head:hover{
    color:rgb(0, 255, 247);
  }
