header{
  display: flex;
  
  width: 100vw;
  height: auto;
  background-color:#212121;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  top:0px;
  position: fixed;

}

#logo{
  width: 50px ;
  height: auto;
  margin: 20px;
  filter: grayscale(100%);
}
#logo:hover{
  transition:1.0s;
  filter: grayscale(0%);
}

.nav-end{
  width: 100vw;
  display: flex;
  justify-content: center;
  justify-items: end;
  margin-left: 50%;
}

.nav-color{
  color:#FFF;
  font-size: 1.0rem;
  transition: 0.5s;
  font-family: 'Verdana';
}
.nav-color:hover{
  letter-spacing: 0.1rem;
  color:steelblue;
}

.container{
  /* width: 10%; */
  height: auto;
  display: flex;
  justify-content: space-around; 
}

.theme{
  background-color: transparent;
  border: none;
  color:#FFF;
}