@font-face {
    font-family: 'FutureTech';
    src: url('../assets/FutureTech.ttf') format('truetype');
  }
  /* Precisa Organizar e refatorar todos os codigos css  */

body{
    
    background-color: var(--bg-background);
    display: flex;
    
    justify-content: center;
    padding-bottom: 50px;
    
  }

  
  main{
    
    padding-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: -3;
  }

  #vanta-canvas{
    width: 95vw;
    
    border-radius:20px ;
    display: flex;
    justify-content: center;
    filter:drop-shadow(4px 4px 4px rgb(0, 0, 0));
  }

  .first-section{
    width: 100vw;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
  }

  h1, h2{
    color:#fff;
    filter:drop-shadow(4px 4px 4px rgb(0, 0, 0));
    font-family:'FutureTech', sans-serif;
    font-size: 4rem;
}

.imgage-profile{
  width: 20vw;
  
  height: auto;
  border: 1px outset #474747;
  
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

  #img-profile{
    width: 20vw;
    height: auto;
    
    border-radius: 15px;
    animation: bg-image 2s infinite alternate;
    filter: drop-shadow(2px 2px 2px rgb(243, 243, 243));
  }

  @keyframes bg-image{
    0%{
        filter:drop-shadow(1px 1px 1px rgb(63, 63, 63));
     }
     
     100%{
         filter:drop-shadow(1px 1px 1px rgb(21, 21, 21));
     }
 }
  
  .container{
    width: 100%;
    height: auto;
  }

  .gradient1 {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(204, 204, 204), rgb(152, 152, 152));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient2 {
    background-image: linear-gradient(to bottom, rgb(0, 251, 255), rgb(89, 126, 158), rgb(14, 10, 98));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .font-size{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #about,#projects,#skills{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    
    margin-top: 100px;
    
  }