font-face {
    font-family: 'FutureTech';
    src: url('../assets/FutureTech.ttf') format('truetype');
  }
  /* Precisa Organizar e refatorar todos os codigos css  */

body{
    
    background-color: var(--bg-background);
    display: flex;
    color:#fff;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    overflow-x: hidden;
    
    
  }

  
  main{
    
    padding-top: 120px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: -3;
  }

  p{
    color:#fff;
    padding: 1rem;
    margin: 1rem;  
  }



  #vanta-canvas{
    width: 95vw;
    display: flex;
    justify-content: center;
    filter:drop-shadow(4px 4px 4px rgb(0, 0, 0));
  }

  .first-section{
    width: 100vw;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;
  }

  h1, h2{
    color:#fff;
    filter:drop-shadow(4px 4px 4px rgb(0, 0, 0));
    font-family:'FutureTech', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.image-profile{
  width: 20vw;
  /* filter:grayscale(85%); */
  filter: saturate(5%);
  height: auto;
  border: 1px outset #474747;
  
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

  #img-profile{
    width: 20vw;
    height: auto;
    
    border-radius: 15px;
    animation: bg-image 2s infinite alternate;
    filter: drop-shadow(2px 2px 2px rgb(243, 243, 243));
  }

  @keyframes bg-image{
    0%{
        filter:drop-shadow(1px 1px 1px rgb(63, 63, 63));
     }
     
     100%{
         filter:drop-shadow(1px 1px 1px rgb(21, 21, 21));
     }
 }


  .gradient1 {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(204, 204, 204), rgb(152, 152, 152));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient2 {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(173, 173, 173), rgb(255, 255, 255));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .font-size{
    text-align: center;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  section #about,#projects,#soft-skills, #hard-skills{
    display: flex;
    align-items: center;

    justify-content: center;
    width: 100%;
    height: auto;
    
    margin-top: 100px;
    
  }

  

  #about{
    margin-top: 150px;
    
    /*   */
    
  }
  #about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: auto;
    
  }

  #about-img{
    width: 30vw;
    height: auto;
    padding: 50px;
    border-right: 1px inset #373737;
  }

  #projects{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
/* 
  .cards-projects{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;

    
  } */

  .box-cards{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    padding-top: 70px;
    margin-left: 50px;
    

  }
  
  #soft-skills{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }



  .box-skills{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #1b1c1c, #2d2d2d);
    text-align: center;
    filter:drop-shadow(4px 4px 4px rgb(0, 0, 0));
   
 
  }


.soft-skilss{
  font-size:1.5rem;
}

.img-soft-skilss{
  height: 60px;
  border: 2px inset #757575;
  border-radius: 15px;
  margin-top: 30px;
  
  
}


.cards-skills{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.cards-soft-skills{
  width: 27vw;
  height: auto;
  margin-top: 150px;
  padding: 20px;
  border-radius: 10px;
  border: 1px inset #757575;
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.p-skill{
  font-weight: 500;
  font-size: 1.5rem;
}

.img-skill{
  filter: saturate(10%);
  width: 100px;
  height: 100px;
  


}

.info-skill{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carroussel-skilss{
  margin-top:50px;
  
}

.icons-hard{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  padding: 50px;
  filter: saturate(5%);
  border: 1px outset #474747;
  backdrop-filter: blur(5px);
}

#icons-hard-skills{
  width: 100vw;
  height: auto;
  margin-top: 150px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

}

#container-projects{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.cards-projects{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.content-projects{
  width: 27vw;
  height: auto;
  margin-top: 150px;
  padding: 20px;
  border-radius: 10px;
  border: 1px inset #757575;
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#comunication{
  width: 27vw;
  margin-top: 100px;
}