
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Estilos específicos para telas menores usando media query */
  @media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .container {
      padding: 10px;
    }
  
    /* Adicione outras alterações de estilo necessárias para telas menores */
  }
  
  /* Estilos específicos para telas muito pequenas, como smartphones */
  @media only screen and (max-width: 480px) {
    body {
      font-size: 12px;
    }
  
    /* Adicione outras alterações de estilo necessárias para telas muito pequenas */
  }
  