@media screen and (min-width: 280px) and (max-width: 350px) {

  body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0auto;
  }

  .nav {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0auto;

  }

  .container {
    width: 96vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
  }

  #toggle-menu {
    margin-top: 6px;
    color: #00eaff;
  }

  .menu {
    margin: 0 auto;
  }

  h1 {
    font-size: 1.8rem;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    line-height: 2.0rem;
    justify-content: center;
  }

  h2 {
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
  }

  figure {
    display: flex;
    gap: 30px;
    margin: 5px;
    justify-content: center;
    align-items: center;
  }

  #apresentation {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

   #maquina-escrever {
    display: none;
  } 

  .cards-apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-media {
    width: 30px;
  }

  #img-apresentation {
    width: 70vw;
    height: auto;
    margin-top: 80px;
  }

  #about {
    margin-top: -20px;
  }

  #img-about {
    display: none;
  }

  .scrollable-div {
    width: 99vw;
    height: 60vh;
    overflow-y: scroll;
    color: rgb(201, 201, 201);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    border: 1px outset #393939;
    border-radius: 10px;
  }

  #cards-section-skill {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 10px;
    margin: 5px;
    border: none;
  }

  .adjust-p {
    width: 100vw;
    height: auto;
    padding: 10px;
  }
  #container-skill{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    padding: 5px;
  }

  #hard-skills {
    width: 100vw;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icons-hard {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
  }

  #container-icon{
    width: 100%;
    height: auto;
    flex-wrap: wrap;

  }

  #projects {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
  }

  .cards-detail {
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0auto;
  }

  .accordion {
    width: 96vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px inset #d5d5d5;
    border-radius: 15px;
  }

  .cards-projects {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .img-projects {
    display: none;
  }

  details {
    width: 80vw;
    height: auto;
    margin: 0auto;
  }

  details>summary {
    width: 100%;
    height: auto;
    color: aliceblue;
    margin: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
  }

  details>p {
    display: none;
  }

  .stack {
    font-size: 30px;
    height: auto;
    padding: 5px;
    margin: 5px;
  }

  #contact-me {
    margin-top: -100px;
  }

  h1 {
    margin: 10px;
  }

  #svg-contact {
    display: none;
  }

  form {
    width: 100vw;
    height: auto;
    padding: 10px;
  }

  input {
    width: 100vw;
  }

  textarea {
    width: 100vw;
  }

  #submit {
    width: 50vw;
    height: auto;
  }

  #img-zap {
    width: 70px;
  }
}

@media screen and (min-width: 351px) and (max-width: 480px) {

  body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0auto;
  }

  #section-header{
    width: 100vw;
    height: auto;
  }

  .nav {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0auto;

  }

  .container {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
  }

  #toggle-menu {
    margin-top: 6px;
    color: #00eaff;
    margin-left: -165px;
  }

  .menu {
    margin: 0 auto;
  }

  h1 {
    font-size: 1.8rem;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    line-height: 2.0rem;
    justify-content: center;
  }

  h2 {
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
  }

  figure {
    display: flex;
    gap: 30px;
    margin: 5px;
    justify-content: center;
    align-items: center;
  }

  #apresentation {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  #maquina-escrever {
    display: none;
  }

  .cards-apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-media {
    width: 30px;
  }

  #img-apresentation {
    width: 70vw;
    height: auto;
    margin-top: 80px;
  }

  #about {
    margin-top: -20px;
  }

  #img-about {
    display: none;
  }

  .scrollable-div {
    width: 99vw;
    height: 60vh;
    overflow-y: scroll;
    color: rgb(201, 201, 201);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    border: 1px outset #393939;
    border-radius: 10px;
  }

  #container-skill{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    padding: 5px;
  }

  .card-skill{
 
    margin-top: 10px;
    margin-bottom: 10px;
}

  #cards-section-skill {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 10px;
    margin: 5px;
  }

  .adjust-p {
    width: 100vw;
    height: auto;
    padding: 10px;
  }

  #hard-skills {
    width: 100vw;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icons-hard {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
  }
  #container-icon{
    width: 100%;
    height: auto;
    flex-wrap: wrap;

  }

  #projects {
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
  }

  .cards-detail {
    width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0auto;
  }

  .accordion {
    width: 96vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px inset #d5d5d5;
    border-radius: 15px;
  }

  .cards-projects {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .img-projects {
    display: none;
  }

  details {
    width: 80vw;
    height: auto;
    margin: 0auto;
  }

  details>summary {
    width: 100%;
    height: auto;
    color: aliceblue;
    margin: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
  }

  details>p {
    display: none;
  }

  .stack {
    font-size: 30px;
    height: auto;
    padding: 5px;
    margin: 5px;
  }

  #contact-me {
    margin-top: -100px;
  }

  h1 {
    margin: 10px;
  }

  #svg-contact {
    display: none;
  }

  form {
    width: 100vw;
    height: auto;
    padding: 10px;
  }

  input {
    width: 100vw;
  }

  textarea {
    width: 100vw;
  }

  #submit {
    width: 50vw;
    height: auto;
  }

  #img-zap {
    width: 70px;
  }
}