

  /* Estilos específicos para telas menores usando media query 
  @media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }*/
  
    @media screen and (min-width: 280px) and (max-width: 480px) {

      body{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }  

      h1{
        font-size: 1.6rem;
        text-align: center;
        padding:15px;
        margin: 10px;
        line-height: 2.0rem;
        justify-content: center;
      }
      h2{
        margin:10px;
        font-size: 1rem;
      }

      figure{
        display: flex;
        gap:30px;
        margin:5px;
        justify-content: center;
        align-items: center;
    }
    
      
      #apresentation{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:50px;
      }

      #maquina-escrever{
        font-size: 0.9rem;
      }

      .cards-apresentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;}
      }

      
    