
  #toggle-menu{
    font-size: 2rem;
    color:#009FFF;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0));
  }
  
  .container {
    width: 65vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 1px outset #424242;
    border-radius: 15px;
    padding: 10px;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
  }

  
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
  a:hover{
    transition: 2.5s;
    cursor: pointer;
    background-image: linear-gradient(to top, rgb(0, 255, 183), rgb(67, 0, 252));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .1rem;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0)); 
  }
  
  .material-symbols-outlined{
    color: #009FFF;
  }

  
  .nav {
    background: -webkit-linear-gradient(to right, #222222, #3a3a3a);
    
   
    padding: 10px;
   
  }
  
  .logo {
    flex-grow: 1;
  }
  
  #toggle {
    display: none;
  }
  
  label {
    color: white;
    cursor: pointer;
    margin: 0 20px 0 0;
    position: absolute;
    right: 10px;
    display: none;
  }
  
  /*flex box*/
  .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  
  .menu ul li {
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  @media (max-width : 1015px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      max-width: 300px;
    }
  
    label {
      display: block;
      cursor: pointer;
    }
  
    .menu {
      width: 50%;
      margin-left:20%;
      justify-content: center;
    }
  
    .menu ul {
      flex-direction: column;
      display: none;
      text-align: center;
    }
  
    .menu ul li {
      margin: 10px 0;
      line-height: 20px;
    }
  
    /*mandiga css*/
    #toggle:checked+.menu ul {
      display: block;
 
    
    }
  }

  #img-logo{
    width: 50px;
    height: auto;
  }

  .theme{
    width: 55px;
    height: auto;
  }