*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

li {
  list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3c3c3c;
    backdrop-filter: blur(5px);
    background-image:
    url("../img/wp2848568.jpg");
    /* background: linear-gradient(to right, #2a2a2a, #5d5d5d); */
  }

html {
    scroll-behavior: smooth;
  }
  

a{
    text-decoration: none;
}


/* TESTE  */


canvas {
  display: block;
}