#contact-me{ 
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   justify-items: center;
   margin: 0auto;
   padding:30px;
   
}
.container-contact{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}
.img-contact{
    width: 40vw;
    margin:40px;
    height: auto;
    filter: saturate(5%);
   
}
form{
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: end;
   
}
input{
    width:40vw;
    height: 40px;
    padding: 15px;
   
    border-radius: 15px;
    background: linear-gradient(to right, #ffffff, #bdbdbd);
}
textarea{
    width: 40vw;
    border-radius: 15px;
  
 
    padding: 10px;
    background: linear-gradient(to right, #ffffff, #bdbdbd);
}

