#skills{
  margin: 0 auto;
}

.card-skill{
    width: 27vw;
    height: 85vh;
    border: 1px inset #424242;
    border-radius:15px ;
    padding:15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-skill{
    padding:10px;
    width: 100px;
    filter: saturate(25%);
}

  #hard-skills {
  margin-top: 70px;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  
}

  .icons-hard{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items:center ;
    font-size: 50px;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px;
    filter: saturate(5%);
    border: 1px outset #474747;
  }
i{
  margin: 10px;
  
}
