#hard-skills{
  margin-top: 50px;
  margin-bottom:20px;
}

.card-skill{
    width: 27vw;
    height: auto;
    padding:10px;
    margin:10px;
    margin-top: 50px;
}
#top-skill{
    margin-top: -20px;
}

.img-skill{
    padding:10px;
    width: 100px;
    filter: saturate(25%);

}

  #hard-skills {
  margin-top: 70px;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;

}

#icons-hard-skills{
    width: 100vw;
    height: auto;
    margin: 0 auto ;
    flex-wrap: wrap;
  }

  .icons-hard{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items:center ;
    font-size: 40px;
    width: 50px;
    height: 50px;
    margin: 0auto;
    border-radius: 10px;
    padding: 30px;
    filter: saturate(5%);
    border: 1px outset #474747;
    backdrop-filter: blur(5px);
  }
i{
  margin:15px;
}