

.container-contact{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.img-contact{
    width: 45vw;
    height: auto;
    margin: 20px;
    filter: saturate(5%);
    padding: 20px;
   
}


form{
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-items: end;
}

input{
    width:80%;
    height: 40px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to right, #ffffff, #bdbdbd);
}
textarea{
    width: 80%;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    background: linear-gradient(to right, #ffffff, #bdbdbd);
}

