.sections{
  width: 96vw;
  height: auto;
  margin-top:80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content:center ;
}

.gradient1 {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(204, 204, 204), rgb(152, 152, 152));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0)); 
  }

  .gradient2 {
    background-image: linear-gradient(to top, rgb(0, 255, 183), rgb(67, 0, 252));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0)); 
  }
  
  .gradient3 {
    background-image: linear-gradient(to bottom, rgb(204, 25, 25), rgb(197, 92, 11), rgb(255, 25, 25));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0)); 
  }


.center-column{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.center-row{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.space-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 15px;
  /* Largura da barra de rolagem para navegadores WebKit (Chrome, Safari, etc.) */
}

/* Estilizando o botão de rolagem (o "pulso") */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, rgb(77, 77, 77), rgb(210, 210, 210), rgb(87, 87, 87));
  border-radius:15px;
}

/* Estilizando a trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background-image: linear-gradient(to top, rgb(67, 67, 67), rgb(39, 39, 39));
}