#about,#skills{
  width: 90vw;
  height: auto;
  padding:10px;
  margin:10px;
  border: 1px outset #424242;
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  background: linear-gradient(to right, #1a1a1a, #393939);
  border-radius: 15px;
  filter:drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.gradient1 {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(204, 204, 204), rgb(152, 152, 152));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0)); 
  }

  .gradient2 {
    background-image: linear-gradient(to top, rgb(0, 255, 183), rgb(67, 0, 252));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0)); 
  }
  
  .gradient3 {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(190, 190, 190), rgb(255, 255, 255));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0)); 
  }

.center-column{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.center-row{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}



  ::-webkit-scrollbar {
    width: 15px; 
  }
  
  ::-webkit-scrollbar-track {
    background-image: linear-gradient(to top, rgb(255, 255, 255rgb(114, 114, 114) 0));
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2e2e2e; 
    border-bottom-right-radius : 10px; 
    border-top-left-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: 10px inset #ffffff;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #444444; 
  }