
  #toggle-menu{
    font-size: 2rem;
    color:#00d0ff;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0));
  }
  .container {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px rgba(92, 92, 92, 0.5);
    border: 1px outset #f4f4f4;
    border-radius: 15px;
    padding: 10px;
    background:
    radial-gradient(rgb(233, 233, 233) 15%, transparent 16%) 0 0,
    radial-gradient(rgb(213, 213, 213) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(183, 183, 183, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(218, 218, 218, 0.1) 15%, transparent 20%) 8px 9px;
    background-color:#ffffff;
    background-size:16px 16px;
  }

  a {
    color: rgb(66, 66, 66);
    text-decoration: none;
    text-transform: uppercase;
}
  a:hover{
    transition: 1.5s;
    cursor: pointer;
    background-image: linear-gradient(to top, rgb(0, 114, 82), rgb(0, 88, 252));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  
  .material-symbols-outlined{
    color: #009FFF;
  }

  .nav {
    background: -webkit-linear-gradient(to right, #222222, #3a3a3a);
    min-height: 60px;
    padding: 10px;
  }
  
  .logo {
    flex-grow: 1;
  }
  
  #toggle {
    display: none;
  }
  
  label {
    color: white;
    cursor: pointer;
    margin: 0 20px 0 0;
    position: absolute;
    right: 10px;
    display: none;
  }
  
  /*flex box*/
  .menu ul {
    display: flex;
  }
  
  .menu ul li {
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  @media (max-width : 1015px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      max-width: 300px;
    }
  
    label {
      display: block;
      cursor: pointer;
    }
  
    .menu {
      width: 50%;
      margin-left:20%;
      justify-content: center;
    }
  
    .menu ul {
      flex-direction: column;
      display: none;
      text-align: center;
    }
  
    .menu ul li {
      margin: 10px 0;
      line-height: 20px;
    }
  
    /*mandiga css*/
    #toggle:checked+.menu ul {
      display: block;
 
    
    }
  }

  #img-logo{
    width: 50px;
    height: auto;
  }

  .theme{
    width: 55px;
    height: auto;
  }
