*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    
  }

html {
  scroll-behavior: smooth;
}

body {
  width: 96vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color:#494949;
}

.css-selector {
  background: linear-gradient(44deg, #cccccc, #c6c6c6, #b7b7b7);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  -o-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}
@keyframes AnimationName {
  0%{background-position:0% 90%}
  50%{background-position:100% 11%}
  100%{background-position:0% 90%}
}



li {
  list-style: none;
}

a{
    text-decoration: none;
    color:#494949;
}

p{
  color:rgb(176, 176, 176);
  padding: 10px;
  filter: drop-shadow(1px 1px 1px #757575);
}




