#projects{
    margin-top: 150px;
    padding:10px;
    margin: 20px;
}

.img-projects{
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
}

.img-new-projects{
    width: 80px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
}

.stack{
    font-size: 40px;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.accordion {
	max-width: 100vw;
	/* width: calc(100% - 20px); */
    padding:10px;
    margin: 10px;
    border: 1px outset #cccccc;
    border-radius: 10px;
 
}
details {
	margin-bottom: 10px;
	
}

details > summary {
	color:rgb(57, 57, 57);
    margin: 10px;
	padding: 5px 10px;
	font-size: 0.9rem;
	cursor: pointer;
}
details > p {
	padding: 5px 10px 10px 10px;
	font-size: 0.8rem;
    line-height:2;
    color:#424242;
}

small{
    color:rgb(80, 80, 80);
}

