#projects{
    margin-top: 150px;
    padding:10px;
    margin: 20px;
}

.card-project{
    width: 20vw;
    height: auto;
    border: 1px inset #dbdbdb;
    border-radius:15px ;
    margin:50px;
    margin-top: 50px;
}

.img-projects{
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
}

.img-new-projects{
    width: 80px;
    height: auto;
    margin: 10px;
    border-radius: 15px;
}

.stack{
    font-size: 40px;
    height: auto;
    padding: 10px;
    margin: 10px;
    color:#424242;
  
}

.accordion {
	max-width: 30vw;
	/* width: calc(100% - 20px); */
    padding:10px;
    margin: 10px;
    border: 1px outset #eaeaea;
    border-radius: 15px;
}
details {
	margin-bottom: 10px;
	
}
/* details:hover {
	filter: drop-shadow(2px 2px 5px #404040);
} */
details > summary {
	color:rgb(0, 0, 0);
    margin: 10px;
	padding: 5px 10px;
	font-size: 0.9rem;
	cursor: pointer;
}
details > p {
	padding: 5px 10px 10px 10px;
	color:rgb(0, 0, 0);
	font-size: 0.8rem;
    line-height:2;
}

small{
    color:rgb(0, 0, 0);
}