#whats{
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: end;
  
}

#img-zap{
    width: 10vw;
    margin:20px;
}
#img-zap:hover{
    transition: 1s;
    filter:drop-shadow(4px 4px 4px rgb(26, 255, 0)); 
}


footer{
    width: 90vw;
    height: auto;
    margin-top: 80px;
    margin-bottom: 50px;
    
}

#container-footer{
    width: 90vw;
    height: auto;
    display: flex;
    padding-bottom:30px ;
}

#footer-1{
    width: 50vw;
    border-right: 1px solid #5b5b5b;
    border-top: 1px solid #5b5b5b;
    border-bottom: 1px solid #5b5b5b;
    
}

#footer-2{
    width: 50vw;
    border-left: 1px solid #5b5b5b;
    border-bottom: 1px solid #5b5b5b;
    border-top: 1px solid #5b5b5b;
}

.spacing-footer{
    padding-top:30px;
    padding-bottom: 30px;
}