.sections{
  width: 96vw;
  height: auto;
  margin-top:80px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content:center ;
}

.gradient1 {
    background-image: linear-gradient(to bottom, rgb(0, 164, 176), rgb(0, 108, 209));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }

  .gradient2{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(108, 108, 108));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(1px 1px 1px rgb(108, 108, 108)); 
  }
  
  .gradient3 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(45, 45, 45), rgb(26, 26, 26));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }


.center-column{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.center-row{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.space-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 15px;
  /* Largura da barra de rolagem para navegadores WebKit (Chrome, Safari, etc.) */
}

/* Estilizando o botão de rolagem (o "pulso") */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, rgb(44, 255, 244), rgb(210, 210, 210), rgb(42, 95, 255));
  border-radius:15px;
}

/* Estilizando a trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background-image: linear-gradient(to top, rgb(163, 163, 163), rgb(220, 220, 220));
}

